@import '../../variables';


.home-page {

  .landing-section {
    .landing-section-title {
      font-family: $font-accent;
      font-size: 1.5rem;
      color: $burgundy;
      height: 22vh;
      background-image: url('../../assets/fond-2.png');
      background-position: center;
      background-size: cover;
      text-align: left;
      padding: 25vh 0 10vh 0;
      @include devices(mobile) {
        height: 25vh;
      }


      h1 {
        text-transform: uppercase;
        margin-top: 6rem;
        margin-bottom: 0;
        margin-left: 15%;
        @include devices(mobile) {
          margin-top: 2.8rem;
        }
      }

      h2 {
        margin-top: 0;
        margin-left: 15%;
      }
    }

    .landing-section-text-and-image {
      display: flex;
      flex-direction: row;
      min-height: 65vh;
      @include devices(mobile) {
        flex-direction: column;
      }

      .landing-section-text {
        background-color: $light-grey;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        @include devices(mobile) {
          width: 100%;
          justify-content: center;
          padding-top: 30px;
        }

        .landing-p {
          text-align: left;
          @include devices(mobile) {
            text-align: center;
          }

          p {
            padding-top: 20px;
            color: $burgundy;
            font-size: 1.2rem;
            font-weight: bold;
            margin-left: 12%;
            @include devices(mobile) {
              margin-left: 0;
            }

            span {
              display: block;
              padding: 5px;
            }
          }
        }

        .landing-ul {
          text-align: left;
          @include devices(mobile) {
            padding-top: 12px;
          }

          ul {
            margin-left: 28%;
            @include devices(mobile) {
              margin-left: 10%;
            }

            li {
              padding: 10px;
            }
          }
        }

        .landing-button {
          Button {
            font-size: 1.2rem;
            margin: 20px 0 20px 48%;
            padding: 12px 14px;
            border: 2px solid $teal;
            @include devices(mobile) {
              margin: 30px 0 60px 0;
            }

            &:hover {
              background-color: rgba(0, 0, 0, 0.2);
              border: 2px solid transparent;

              &::after {
                color: $teal;
              }
            }

            a {
              color: $teal;
            }
          }
        }
      }

      .landing-section-image {
        width: 50%;
        @include devices(mobile) {
          width: 100%;
          height: 320px;
        }

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }


  .online-reservations {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(31, 113, 143, 0.8), rgba(47, 132, 161, 0.8)), url("../../assets/icy-globe.jpg");


    Button {
      font-size: 1.2rem;
      background-color: transparent;
      padding: 12px 14px;
      border: 2px solid white;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border: 2px solid transparent;

        &::after {
          color: white
        }
      }

      a {
        color: white;
      }
    }
  }


  .explanation-and-experience {
    .grid-container {
      width: 100vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      @include devices(mobile) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .grid-child {
        height: 100%;
        width: 100%;

        .experience-text-container {
          @include devices(mobile) {
            width: 80%;
            z-index: 2;
            margin-bottom: -800px;
            background-color: white;
          }
        }


        img {
          height: 100%;
          width: 100%;
          @include devices(mobile) {
            height: 910px;
          }

          .yoga-massage-img {
            margin-bottom: 0;
          }

        }
      }

      .explanation-text-container,
      .experience-text-container {
        max-width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 40px 0;
        @include devices(mobile) {
          max-width: 80%;
        }
      }

      .grid-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .subheading {
          font-family: $font-accent;
          font-weight: bold;
          font-size: 2rem;
        }
      }

      .explanation-text-container {
        color: white;
        @include devices(mobile) {
          font-size: 0.9rem;
          text-align: justify;

        }
      }

      .burgundy-bg {
        background-color: $burgundy;
        @include devices(mobile) {
          width: 80%;
          z-index: 2;
          margin-top: -850px;
          margin-bottom: -50px;
        }
      }

      .experience-text-container {
        color: $teal;
        @include devices(mobile) {
          padding: 30px 0;
          font-size: 0.9rem;

        }

        .subheading {
          color: $burgundy;
        }

        ul {
          list-style: none;
          text-align: left;
          @include devices(mobile) {
            width: 65%;
            padding-left: 0;
          }

          li {
            padding: 5px 0;
          }
        }
      }
    }
  }
}