@import '../../variables';


.home-page {

  .landing-section {
    .landing-section-title {
      font-family: $font-accent;
      font-size: 1.5rem;
      color: $burgundy;
      height: 22vh;
      background-image: url('../../assets/fond-2.png');
      background-position: center;
      background-size: cover;
      text-align: left;
      padding: 25vh 0 10vh 0;

      h1 {
        text-transform: uppercase;
        margin-top: 6rem;
        margin-bottom: 0;
        margin-left: 15%;
      }

      h2 {
        margin-top: 0;
        margin-left: 15%;
      }
    }

    .landing-section-text-and-image {
      display: flex;
      flex-direction: row;
      min-height: 65vh;

      .landing-section-text {
        background-color: $light-grey;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .landing-p {
          text-align: left;

          p {
            padding-top: 20px;
            color: $burgundy;
            font-size: 1.2rem;
            font-weight: bold;
            margin-left: 12%;

            span {
              display: block;
              padding: 5px;
            }
          }
        }

        .landing-ul {
          text-align: left;

          ul {
            margin-left: 28%;

            li {
              padding: 10px;
            }
          }
        }

        .landing-button {
          Button {
            font-size: 1.2rem;
            margin: 20px 0 20px 48%;
            padding: 12px 14px;
            border: 2px solid $teal;

            &:hover {
              background-color: rgba(0, 0, 0, 0.2);
              border: 2px solid transparent;

              &::after {
                color: $teal;
              }
            }

            a {
              color: $teal;
            }
          }
        }
      }

      .landing-section-image {
        width: 50%;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }


  .online-reservations {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(31, 113, 143, 0.8), rgba(47, 132, 161, 0.8)), url("../../assets/icy-globe.jpg");

    Button {
      font-size: 1.2rem;
      background-color: transparent;
      padding: 12px 14px;
      border: 2px solid white;

      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border: 2px solid transparent;

        &::after {
          color: white
        }
      }

      a {
        color: white;
      }
    }
  }


  .explanation-and-experience {
    .grid-container {
      width: 100vw;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;

      .grid-child {
        height: 100%;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
        }
      }

      .explanation-text-container,
      .experience-text-container {
        max-width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 40px 0;
      }

      .grid-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .subheading {
          font-family: $font-accent;
          font-weight: bold;
          font-size: 2rem;
        }
      }

      .explanation-text-container {
        color: white;
      }

      .burgundy-bg {
        background-color: $burgundy;
      }

      .experience-text-container {
        color: $teal;

        .subheading {
          color: $burgundy;
        }

        ul {
          list-style: none;
          text-align: left;

          li {
            padding: 5px 0;
          }
        }
      }
    }
  }
}