@import '../../variables.scss';

.massage-card {
  padding: 0 2rem;
  @include devices(mobile) {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0 1rem 0;
  }


  img {
    height: 280px;
    width: 350px;
    @include devices(mobile) {
      height: 260px;
    }
  }

  h4 {
    font-family: $font-accent;
    font-size: 1.3rem;
    color: $teal;
  }

  p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    text-align: justify;
  }
}