/* Colors */
$burgundy: rgb(145,32,92);
$teal: rgb(5,122,153);
$light-grey: rgb(235,235,235);
$pink: rgb(184,117,150);
$blue: rgb(27,117,148);

/* Type faces*/
$font-plain: 'Lato', sans-serif;
$font-accent: 'Dancing Script', cursive;
